
<header class="fadeIn">
        <!--Inicio Cabeçalho-->
        <nav class="navbar navbar-expand-sm  fixed-top">
            <div class="container pb-3 pt-3 ">
                <!--Logo-->
                <div>
                    <a href="index.html">
                        <img src="../Imagens/Geral/logo_1.png" width="142">
                    </a>
                </div>
                <!--Fim Logo-->

                <button class="navbar-toggler" data-toggle="collapse" data-target="#menu">
                    <i class="fas fa-server text-white "></i>
                </button>


                <div class="collapse navbar-collapse" id="menu">
                    <!--Inicio Menu-->
                    <ul class="navbar-nav ml-auto">
                        
                        <li class="nav-item">
                            <a class="nav-link" href="#responsive">
                                <div class="border-animation"></div>
                                <i class="fas fa-desktop"></i>
                                O que fazemos?</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="#portfolio">
                                <div class="border-animation"></div>
                                <i class="fas fa-book"></i>
                                Portifólio</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#contato">
                                <div class="border-animation"></div>
                                <i class="far fa-comment"></i>
                                Entre em Contato</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#sobre">   
                                <div class="border-animation"></div>
                                <i class="fas fa-users"></i>
                                A agência      
                            </a>                
                            
                        </li>
                    </ul>
                    
                </div>
                <!--Fim menu-->
            </div>
            <!--Fim Container-->
        </nav>
    </header>