    <section id="home" class="d-flex fadeIn">
        <!--Seção de Entrada-->
        <div class="container align-self-center">
            <div class="row justify-content-center">
                <div class="col-md-12 text-white">
                    <div class="text rotacao">
                        <h2 class="mt-5">Somos focados em <span class="text-white"></span></h2>
                        <h1 class="slogan">Levaremos seu negocio a outro nivel.</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <a href="#responsive" class="btn">
                            <span class="mr-1" id="descer">Conheça.</span>
                            <i class="fas fa-angle-double-right">
                            </i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/Seção de Entrada-->

    <section id="responsive" class="espacamento">
        <!--Seção Responsivo-->
        <div class="container text-center pb-5" >
            <h3 class="mb-2 mt-2 border-bottom">Nossas Soluções</h3>
               <div class="row justify-content-center solucoes" data-anime="esquerda" >
                   <div class="col-md-12" >
                       <div class="row">
                            <div class="col-md-6">
                                <h2>Web sites Responsivos</h2>
                                <p> Um Website responsivo é aquele que se adapta ao dispositivo que o usuario está
                                    usando, ou seja,
                                    independente de onde estiver, o usuario terá uma boa experiência no site.
                                    Isso deixa o usuario mais confortavel para acessar seu site e assim você
                                    ganha mais confiança, podendo mostrar seu trabalho ou seus produtos
                                    de forma mais elegante e cativante!
                                </p>

                                <button class="btn">
                                    <a href="#contato" class="nav-link text-white">
                                        Cative!
                                    </a>
                                </button>
                            </div>
        
                            <div class="col-sm-6">
                                <div class="d-none d-md-block">
                                    <img src="../Imagens/Recursos/responsivo.png" alt="responsivo" width="500">
                                </div>
                            </div>
                       </div>
                   </div>
               </div> 
    </section>
    <!--/Seção Responsivo-->

    <section id="ecommerce" class="espacamento">
        <!--Seção ecommerce-->
        <div class="container text-center pb-5" >
               <div class="row justify-content-center solucoes" data-anime="direita" >
                   <div class="col-md-12" >
                       <div class="row">
                            <div class="col-sm-6">
                                <div class="d-none d-md-block">
                                    <img src="../Imagens/Recursos/ecommerce2.png" alt="ecommerce" width="300">
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <h2>E-commerce</h2>
                                <p>Você quer turbinar suas vendas através da internet?
                                    Nós da SWD temos a solução perfeita!

                                </p>
                                <p>
                                    Um e-commerce tem a praticidade de conseguir vender seu produto sem você e nem seu
                                    cliente sair de casa para nada!
                                </p>

                                <p>O alcance que seu produto pode chegar é incomparavel aos meios tradicionais, tudo literalmente
                                    na palma da mão do seu cliente e criamos seu e-commerce baseado no produto que você vende, ou 
                                    seja, terá uma loja unica, do seu jeito. 
                                </p>

                                <button class="btn">
                                    <a href="#contato" class="nav-link text-white">
                                        Vamos Evoluir?
                                    </a>
                                </button>
                            </div>
                       </div>
                   </div>
               </div> 
    </section>
    <!--/Seção Ecommerce-->

    <section id="marketing" class="espacamento">
        <!--Seção ecommerce-->
        <div class="container text-center pb-5" >
               <div class="row justify-content-center solucoes" data-anime="esquerda" >
                   <div class="col-md-12" >
                       <div class="row">

                            <div class="col-md-6">
                                <h2>Marketing Digital</h2>
                                <p> 
                                    Se você tem uma empresa, com certeza já ouviu falar de Marketing Digital, né?
                                    Sabe aquelas lojas que ao rolar sua Timeline do Instagram aparecem "do nada"? Então, isso é um
                                    poucou de Marketing Digital, sua loja terá um alcance inimaginável. O sistema é baseado na pesquisa do usuario,
                                    fazendo assim sua loja aparecer para público certo e na hora certa!  
                                </p>

                                <p> 
                                    Implementamos estratégias de marketing customizadas, 
                                    integrando criatividade, metodologias e tecnologia para alcançar os objetivos do seu negócio.

                                </p>

                                <button class="btn">
                                    <a href="#contato" class="nav-link text-white">
                                        Vamos impulsionar?
                                    </a>
                                </button>
                            </div>

                            <div class="col-sm-6">
                                <div class=" d-none d-md-block">
                                    <img src="../Imagens/Recursos/marketing2.png" alt="marketing" width="400">
                                </div>
                            </div>
                       </div>
                   </div>
               </div> 
    </section>
    <!--/Seção Ecommerce-->


    <section id="portfolio" class="espacamento x">
        <!--Sessão Portfolio-->
        <h3 class="mb-5 mt-3" data-anime="esquerda">Nossos Trabalhos</h3>
        <div class="container" id="container" data-anime="esquerda">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6" >
                            <div class="box">
                                <div class="imgBx">
                                    <img src="../Imagens/Portfolio/Petshop.png" alt="Petshop">
                                </div>
                                <div class="contentBx" >
                                    <div class="content" id="content">
                                        <h2>PetShop</h2>
                                        <p>
                                            <a href="../Portfolio/Trabalho - Pet Shop/Index.html" class="btn">Conheça o Projeto!</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="box">
                                <div class="imgBx">
                                    <img src="../Imagens/Portfolio/Doceria.jpg" alt="Petshop">
                                </div>
                                <div class="contentBx">
                                    <div class="content " id="content">
                                        <h2>Doceria</h2>
                                        <p>
                                            <a href="#" class="btn">Conheça o Projeto!</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/Sessão Portfolio-->

    <!--Sessão Contato-->
    <section id="contato">     
        <div class="container text-center" data-anime="esquerda">
            <h3 class="espacamento">Vamos falar sobre metas?</h3>
            <div class="row">
                <div class="col-md-12">
                    <form id="formulario" class="mt-3">
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="nome">Nome Completo!</label>
                                <input class="form-control" type="text" id="nome"
                                    placeholder="Para que você seja único :)">

                                <label for="email">Seu E-mail!</label>
                                <input class="form-control" type="email" id="email"
                                    placeholder="Para nos comunicarmos com você :)">

                                <label for="whats">Seu Whatsapp!</label>
                                <input class="form-control" type="text" id="whats" placeholder="Ex: (12) 345678910">
                            
                                <label for="Escolha">Qual seu interesse?    </label>
                                <select class="form-control" name="interesse" id="Escolha">
                                    <option value="#">Conte para nós!</option>
                                    <option value="#">Website</option>
                                    <option value="#">E-commerce</option>
                                    <option value="#">Logomarca</option>
                                </select>
                            </div>

                            <div class="form-group col-sm-6" data-anime="direita">
                                <label for="mensagem">Conte sua situação!</label>
                                <textarea name="situacao" id="mensagem" cols="70" rows="10"></textarea>
                                <button class="btn btn-outline-success">
                                    Certo? Enviar <i class="far fa-check-circle"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!--/Sessão Contato-->
    
    

     <!--Sessão Sobre-->
    <section id="sobre" >
        <h1 class="display-4 mb-3 text-center" data-anime="top">A agência</h1>
        <div class="container espacamento" id="cont" data-anime="esquerda">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="row mb-5" >
                        <div class="col-md-6">
                            <div class="card">
                                <div class="imgBx">
                                    <img src="../Imagens/Sobre/team.png" data-text="SWD">
                                </div>
                                <div class="content" >
                                    <div>
                                        <h2>SWD</h2>
                                        <p>
                                            <strong>Nós somos a SWD (Student Web Developers)</strong>, fundada por 4
                                            estudantes amantes de tecnologia
                                            e inovações. Nascemos em 2020 para proporcionar soluções de pessoas comuns
                                            até gigantescas empresas. 
                                            Tornamos cada cliente um parceiro e amigo. Ser digital nos permite oferecer estratégias em
                                            múltiplas plataformas, sempre de forma ágil e eficiente. Pode contar conosco
                                            para o que você precisar.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <div class="imgBx">

                                    <img src="../Imagens/Sobre/moon.png" alt="" data-text="Missao">
                                </div>
                                <div class="content">
                                    <div>
                                        <h2>Missão</h2>
                                        <p>A SWD tem a missão de se conectar com nossos parceiros, com ojetivo de
                                            ouvi-las e compreende-las,
                                            para proporcionar um bom atendimento e serviço, com seriedade (mas com
                                            descontração, claro!), responsabilidade,
                                            para que o cliente tenha o resultado esperado.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="imgBx">
                                    <img src="../Imagens/Sobre/glasses.png" alt="" data-text="Visão">
                                </div>
                                <div class="content">
                                    <div>
                                        <h2>Visão</h2>
                                        <p>
                                            A curto prazo temos a ambição de nos estabelecermos no mercado de
                                            criação/manutenção de sites e e-commerces.
                                            A médio prazo queremos sermos reconhecidos no âmbito da tecnologia usando
                                            desenvolvimentos sustentáveis e dinâmicos.
                                            Produzir além de sites, aplicativos mobile para empresas e lojas de todo o
                                            Brasil.
                                            A longo prazo trabalhar com diversas tecnologias, sendo a maior agência
                                            digital do país.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="card">
                                <div class="imgBx">
                                    <img src="../Imagens/Sobre/value.png" alt="" data-text="Valores">
                                </div>
                                <div class="content">
                                    <div>
                                        <h2>Valores</h2>
                                        <p>A SWD preza pelo compromisso com nosso parceiro, sabemos o quão difícil é
                                            confiar seu dinheiro a alguém desconhecido
                                            estamos aqui para mudar isso. Resultados, só aceitamos pagamento após o
                                            resultado esperado pelo parceiro. Trasparência,
                                            fique sabendo de como está o andamento do seu projeto sempre. 
                                            Inovação,
                                            para pensarmos no seu projeto.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/Sessão A Empresa-->

    <section id="equipe" class="espacamento d-none d-sm-block">
        <!--Seção O que fazemos-->
        <div class="container text-center pb-5" >
            <div >
                <!--Equipe-->
                <h3 class="border-bottom mb-5 mt-5 equipe" data-anime="direita">Conheça nossa Equipe!</h3>
                <div class="row justify-content-center equipe " data-anime="direita">
                    <!-- Segunda Row -->
                    <div class="col-sm-3 dev">  
                        <div class="card">
                            <img src="../Imagens/Recursos/Eu.jpg" alt="FullStack">
                            <div class="card-body">
                              <h4><b>Samuel Porto</b></h4> 
                              <p>FullStack</p> 
                              <i class="fab fa-instagram"></i>
                              <i class="fab fa-linkedin-in"></i>
                            </div>
                          </div>
                    </div>

                    <div class="col-sm-3 dev">
                        <div class="card">
                            <img src="../Imagens/Recursos/Leonardo.jpeg" alt="FullStack">
                            <div class="card-body">
                              <h4><b>Leonardo Pelusi</b></h4> 
                              <p>FullStack</p> 
                              <i class="fab fa-instagram"></i>
                              <i class="fab fa-linkedin-in"></i>
                            </div>
                          </div>
                    </div>

                    <div class="col-sm-3 dev">
                        <div class="card">
                            <img src="../Imagens/Recursos/Gabriel.png" alt="FullStack">
                            <div class="card-body">
                              <h4><b>Gabriel Soares</b></h4> 
                              <p>FullStack</p> 
                              <i class="fab fa-instagram"></i>
                              <i class="fab fa-linkedin-in"></i>
                            </div>
                          </div>
                    </div>

                    <div class="col-sm-3 dev">
                        <div class="card">
                            <img src="../Imagens/Recursos/jefferson.JPG" alt="FullStack">
                            <div class="card-body">
                              <h4><b>Jefferson</b></h4> 
                              <p>FullStack</p> 
                              <i class="fab fa-instagram"></i>
                              <i class="fab fa-linkedin-in"></i>
                            </div>
                          </div>
                    </div>
                </div><!-- /Segunda Row -->
            </div>
            <!--/Equipe-->
        </div>
    </section>
    <!--/Seção O que fazemos-->


    <!--Footer-->
    <footer id="rodape" class="celular">
        <div class="justify-content-center text-center">
            <div class="row">
                <div class="col-md-12">
                    <div class="row align-items-center">

                        <div class="col-sm-3">
                            <div class="d-none d-md-block">
                                <a href="#menu">
                                    <img src="../Imagens/Geral/logo_1.png" width="142">
                                </a>
                            </div>
                        </div>

                        <div class="col-sm-3 mt-3">
                                <p><i class="far fa-envelope"> SWD2020@gmail.com</i></p>
                                <p><i class="fas fa-map-marker-alt"> Av. Elísio Teixeira Leite, 3611</i></p>
                                <p> Pirituba - SP</p>
                                <p><i class="fab fa-whatsapp"> (11)9xxxx-xxxx</i></p>

                        </div>

                        <div class="col-sm-1 subir">
                            <!--Voltar ao topo -->
                            <a class="btn" href="#responsive">
                                <i class="far fa-hand-point-up"> </i>
                            </a>
                        </div>

                        <div class="col-sm-2 celular">
                            <!--No futuro-->
                            <a href="index.html" class="mr-1">
                                <span>Trabalhe conosco</span>
                            </a>
                            |
                            <a href="index.html" class="ml-1">
                                <span>Suporte</span>
                            </a>
                        </div>

                        <div class="col-sm-2">
                            <!--Redes Sociais-->
                            <a href="">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="">
                                <i class="fab fa-facebook-square"></i>
                            </a>
                            <a href="">
                                <i class="fab fa-github"></i>
                            </a>
                            <a href="">
                                <i class="fab fa-linkedin"></i>
                            </a>
                            <a href="">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--/Footer-->

    <!--Chat Flutuante-->
    <div id="chat" >
        <button class="open-button" onclick="openForm()">
            <i class="fas fa-bullhorn"></i>
        </button>

        <div class="chat-popup" id="myForm">
            <form class="form-container">
                <h5>Se você pudesse, o que mudaria no site?</h5>

                <label for="msg" style="color: gray;"><em> Sua opinião é muito importante para nós!!!</em></label>
                <textarea placeholder="Escreva aqui..." name="msg" required></textarea>

                <button type="submit" class="btn"><i class="far fa-check-circle"></i></button>
                <button type="button" class="btn cancel" onclick="closeForm()"><i class="far fa-times-circle"></i></button>
            </form>
        </div>
    </div>
    <!--/Chat Flutuante-->
